<div class="main-container">
    <!-- <div class="login-container">
        <div class="loin-content">
            <div class="">
                <h1>Welcome !!!</h1>
            </div>
            <div class="">
                To keep connected with us login/signup
            </div>
            <div class="">
                <button class="btn btn-primary">Sign Up</button>
            </div>
        </div>
        <div class="login-details" >
            <div class="login-profile" align=center>
                <img class="profile-img" src="\assets\images\profile.png">
            </div>
            <div class="login">
                <label>Login</label>
                <input type="text" class="form-control">
            </div>
            <div class="password">
                <label>Password</label>
                <input type="password" class="form-control">
            </div>
            <div class="btn btn-group">
                <button class="btn btn-primary">Login</button>
                <a href="">Forgot Password</a>
            </div>
        </div>
    </div> -->
</div>